/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Questrial";
  src: url("./assets/fonts/Questrial-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
}

:root {
  --bg-color: #f3ebe4;
  --accent: #3d8168;
  --surface: #ffffff;
  --text-primary: #232526;
  --text-secondary: #616365;
}

@media (max-width: 40em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
  }
  .product {
    max-width: 21.875em;
    background-color: var(--surface);
    border-radius: 0.5em;
  }
  .product__details {
    padding: 2em;
  }
  .product__title {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 2em;
  }
  .product__subheading {
    font-family: Questrial;
    font-weight: 100;
    letter-spacing: 0.2em;
  }
  .product__title {
    color: var(--text-primary);
    line-height: 100%;
  }
  .product__description {
    color: var(--text-secondary);
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.985em;
  }
  .product__price {
    display: flex;
    align-items: center;
  }
  .product__price-sale {
    font-family: Fraunces;
    color: var(--accent);
  }
  .product__price-orig {
    text-decoration: line-through;
    color: var(--text-secondary);
  }
  .product__btn {
    background-color: var(--accent);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 0.5em;
    color: var(--surface);
    gap: 0.5em;
  }
}
