/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Questrial";
  src: url("./assets/fonts/Questrial-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}

:root {
  --bg-color: #f3ebe4;
  --accent: #3d8168;
  --surface: #ffffff;
  --text-primary: #232526;
  --text-secondary: #616365;
  --active: #1a4031;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  min-height: 100vh;
}
.product {
  display: flex;
  max-width: 650px;
  border-radius: 0.5em;
  background-color: var(--surface);
  overflow: hidden;
}
.product__preview-container {
  display: flex;
  overflow: hidden;
}
.product__preview-desktop {
  object-fit: cover;
  width: 100%;
}
.product__preview-mobile {
  display: none;
}
.product__details {
  padding: 2em;
}
.product__subheading {
  font-family: Questrial;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: var(--text-secondary);
}
.product__title {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 2em;
  margin-top: 1.75rem;
}
.product__description {
  color: var(--text-secondary);
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.985em;
  margin: 2em 0;
}
.product__price {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
}
.product__price-sale {
  font-family: Fraunces;
  color: var(--accent);
}
.product__price-orig {
  text-decoration: line-through;
  color: var(--text-secondary);
}
.product__btn {
  background-color: var(--accent);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 0.5em;
  color: var(--surface);
  gap: 0.5em;
}
.product__btn:hover {
  background-color: var(--active);
  cursor: pointer;
}
.attribution {
  margin-block: 0.5em;
}
.attribution__fm{
  color: rgb(38, 89, 177);
}
.attribution__fm:hover, .attribution__fm:active{
  color: rgb(77, 132, 227);
}
.attribution__author  {
  color: #9a1cc8;
}
.attribution__author:hover, .attribution__author:active  {
  color: #ca63f0;
}
@media (max-width: 40em) {
  .product {
    flex-direction: column;
    max-width: 21.875em;
    background-color: var(--surface);
    border-radius: 0.5em;
    margin-top: 1em;
  }
  .product__preview-desktop {
    display: none;
  }
  .product__preview-mobile {
    display: flex;
    object-fit: cover;
  }
  .product__details {
    padding: 2em;
  }
  .product__title {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 2em;
  }
  .product__subheading {
    font-family: Questrial;
    font-weight: 100;
    letter-spacing: 0.2em;
  }
  .product__title {
    color: var(--text-primary);
    line-height: 100%;
  }
  .product__description {
    color: var(--text-secondary);
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.985em;
  }
  .product__price {
    display: flex;
    align-items: center;
  }
  .product__price-sale {
    font-family: Fraunces;
    color: var(--accent);
  }
  .product__price-orig {
    text-decoration: line-through;
    color: var(--text-secondary);
  }
  .product__btn {
    background-color: var(--accent);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 0.5em;
    color: var(--surface);
    gap: 0.5em;
  }
  .attribution {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
